<div class="container xtcodingassignment">
  <div class="row">
    <div class="col-sm-12" *ngIf = "!loading">
      <table class="news-table" role="table">
        <thead role="rowgroup">
          <tr role="row">
            <th role="columnheader">Comments</th>
            <th role="columnheader">Vote Counts</th>
            <th role="columnheader">UP Vote</th>
            <th role="columnheader">NEWS Details</th>
          </tr>
        </thead>
        <tbody role="rowgroup">
          <tr role="row" *ngFor="let news of newsList">
            <td role="row">{{ news.num_comments }}</td>
            <td role="row"><span [ngClass] = "{'dark-orange': (1000 > news.points && news.points > 500), 'orange': news.points > 1000 }">{{ news.points }}</span></td>
            <td role="row"><img class="vote" src="https://news.ycombinator.com/grayarrow.gif" (click) = "doVote(news.objectID, news.points)"></td>
            <td role="row">
              {{ news.title }}  
              <a *ngIf = "news.url" href="{{ news.url }}" target="_blank">({{ news.url.split('/')[2] }}) </a> 
              <label>By <b class="user">{{ news.author }} </b></label>
              <span> {{ news.created_at | dateAgo }} </span>
              <a (click) = "hideNews(news.objectID)">[ hide ]</a> </td>
          </tr>
        </tbody>
        
      </table>
      <div class="pagination">
        <ul>
          <li><a (click)="prev()" [ngClass]="{'disabled': page == 0}">Previous</a></li>
          <li>|</li>
          <li><a (click)="next()">Next</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 loader" *ngIf = "loading">
      <img src="../assets/loading.gif" title="Loading.." alt="Loading.." width="300px" />
    </div>
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" *ngIf = "!loading && loaded && !chartLoading" style="height: 300px; width: 100%; display: block;"></highcharts-chart>
  </div>
</div>
